body {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(./img/sfondo.png);
  font-family: Poppins, Helvetica, sans-serif;
  line-height: 1.5;
;
}

header,
footer {
  text-align: center;
  background: rgb(46, 105, 132);
  background: linear-gradient(
    45deg,
    rgba(46, 105, 132, 1) 0%,
    rgba(67, 151, 185, 1) 35%
  );
  color: white;
  margin-bottom: 1.2em;
  padding: 1em;
  box-shadow: 0px 5px 5px 0px rgba(94, 92, 94, 1);
  margin-top: 1em;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h4 {
  color: rgb(162, 161, 161);
  font-size: 13px;
  margin-top: 1em;
  margin-bottom: 1em;
}

h4 i {
  margin-right: 0.3em;
}
header img {
  margin-bottom: 1em;
}
header p {
  margin-bottom: 1em;
}

main {
  background-color: white;
  padding: 2em 1em;
  box-shadow: 0px 5px 5px 0px rgba(94, 92, 94, 1);
  
}

main li{margin-bottom: 0.25em;}
p span {
  color: #ae6990;
  font-weight: bold;
}

menu li {
  list-style-type: none;
  margin-bottom: 0.25em;
}

li .fa-arrow-right {
  margin-right: 0.3em;
}

li .fa-arrow-left {
  margin-left: 0.3em;
}

li span {
  background-color: rgb(241, 241, 241);
  border: solid 1px rgb(133, 132, 132);
  border-radius: 3px;
  
}


ul {
  margin: 2em;
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
  margin: 2em;
}
 table {
  width: 100%;
  border-bottom: #4568c1 solid 2px;
  height: 200px;
  text-align: center;
}
caption {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-top: 2em;
}

thead {
  background-color: #4568c1;
  color: white;
  height: 2em;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

td,
th {
  padding: 1em;
}

iframe {
  border-radius: 30px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.form {
  background-color: #e1e2e3;
padding-top: 1em;
padding-bottom: 1em;
  /* padding: 1em; */
}

.form h5 {
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}

.form p {
  margin-bottom: 1em;
  text-align: center;
}

input {
  border-bottom: dotted;
display: inline-block;
  margin-right: 0.1em;
}
button {display: inline-block;
  background-color: #4769c1;
  color: white;
  border: none;
  padding: 0.5em;

}

.articoli {
  background-color: #e2e2e1;
  margin-top: 1em;
  text-align: center;
  border: solid rgb(172, 172, 172) 1px;
  padding-top:1em;
  padding-bottom: 1em;
}

section h5{text-align: center;
font-weight: bold;
margin-top: 1em;}

/* 
footer{background-color: rgb(46, 105, 132);
    color:white;} */


    footer a{color: #a73baa;}
    footer p{margin: 1em;}


    .articoli p:first-child{text-decoration: underline;
    color:#6ba6c6;
text-align: left;
margin-left:1em;
margin-bottom: 0.5em;}

.articoli p:nth-child(2){
    text-align: left;
    margin-left:1em;
margin-bottom: 0.5em;
}

.articoli p:nth-child(3){
    text-align: right;
    margin-right:1em;
margin-bottom: 0.5em;
}

.articoli i{margin-right: 0.25em;}